@import url("reset.css");

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	color: #6C757D;
}

[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.article__text-block {
	max-width: 816px;
	margin: 0 auto 80px;
}

.article-img {
	max-width: 100%;
	margin-bottom: 80px;
	border-radius: 5px;
}

.article__title {
	max-width: 605px;
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	color: #212529;
	margin-bottom: 40px;
}

p {
	margin-bottom: 30px;
}

.images {
	font-size: 0;
	margin-bottom: 80px;
}

.images img {
	max-width: 100%;
	border-radius: 5px;
}

.image-main-1 {
	margin-right: 30px;
}

.cover-image {
	width: 100%;
	margin-bottom: 80px;
}

.article {
	margin-bottom: 100px;
}

/* Тренировка */

.block {
	background-color: yellowgreen;
}
.inline {
	background-color: gray;
}
.lesson_6_training {
	padding: 15px;
}

/* --------------------- */

.block {
	border: 3px solid red;
	margin-bottom: 20px;
}

.inline {
	display: block;
	margin-bottom: 20px;
	color: white;
	border: 5px dashed blue;
}

.inline-block {
	outline: 10px dotted green;
	border-radius: 20px;
}

.inline-circle {
	border-radius: 50%;
	opacity: 0.7
}